body {
    margin: 0;
    background: #f5f5f5;
    font-family: 'PT Sans', cursive;
    background-image: url(img/8687.svg)
}

.ava {
    display: block;
    width: 300px;
    margin: 20px auto;
    border: 3px solid #384766;
    border-radius: 50%
}

.list {
    max-width: 700px;
    padding: 0;
    margin: 0 auto
}

.button {
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    align-items: center;
}

.button img {
    margin-right: 7px;
    width: 40px
}

.list li {
    list-style: none
}

.button_instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%)
}

.button_youtube {
    background-color: #bd2e2a
}

.button_vk {
    background-color: #637da0
}

.button_facebook {
    background-color: #2957ac
}

.button_telegram {
    background-color: #61a8de
}

.button_zen {
    background-color: #000;
    color: #fff
}

.text {
    margin: 0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding: .5em;
    background: #384766;
    color: #fff;
    font-size: 1.5em;
    position: relative;
    margin: 10px 0;
}

.text_gretting {
    margin: 32px 0;
}

.text_gretting::before,
.text_gretting:after {
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 32px;
    position: absolute;
    left: 0
}

.text_gretting::before {
    background: linear-gradient(-45deg, #384766 16px, transparent 0), linear-gradient(45deg, #384766 16px, transparent 0);
    background-repeat: repeat-x;
    background-position: left top;
    background-size: 22px 32px;
    top: -22px
}

.text_gretting:after {
    background: linear-gradient(-45deg, transparent 16px, #384766 0), linear-gradient(45deg, transparent 16px, #384766 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px
}

.text_tut {
    display: flex;
    align-items: center;
    border-radius: 2px;
    justify-content: space-between;
}

.text_tut::before,
.text_tut::after {
    content: "👇";
    display: block;
    font-size: 1.5em;
}
